
*{
padding: 0;
margin:0;

}


body {
  background-color: #dce4ec;
  color: #885a3b8c;
}
.navbar {
  display: flex;
  background-color: #885a3b8c;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 30px;
  scroll-behavior: smooth;
  gap: 50px;
  height: 5rem;
  margin-bottom: left;
}


.App .navbar button {
  border: none;
  background-color: #0e1e2e00;
  color: #dce4ec;
  font-size: 30px;
  margin-left: 50px;
}

.App .navbar :hover {
  cursor: pointer;
  color: white;
}

.App .about {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.App .My-Name {
  font-size: 50px;
  color: #885a3b8c;
}

.App .about_me_text {
  font-size: 30px;
}

.about-left {
  max-width: 40%;
}

.about-right img {
  border-radius: 100%;
  width: 100%;
  max-width: 180px;
  margin: 0 2.5rem;
  height: auto;
}

.App .myImg {
  border-radius: 50%;
}

.App .skills {
  margin-top: 125px;
  align-content: center;
  align-items: center;
  background-color: #dce4ec;
  color: #885a3b8c;
  text-align: center;
  font-size: 30px;
  margin-left: 310px;
}

.App .tech-skills {
  display: flex;
 gap: 50px;
 align-content: center;
}

.tech{
  display: flex;
  flex-direction: column;
  align-items: center;
}




.App .tech-skills img {
  height: 50px;
  width: 50px;
}

/* my-experience */

.App .my-experience {
  margin-top: 250px;
  align-items: center;
  background-color: #dce4ec;
  color: #885a3b8c;
  text-align: center;
  font-size: 30px;
}

.my-experience .discord img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.my-experience .doctors img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* contact-me */
.App .contact-me {
  display: flex;
  flex-direction: column;
  margin-top: 350px;
  align-items: center;
  background-color: #dce4ec;
  color: #885a3b8c;
  text-align: center;
  font-size: 30px;
  gap: 20px;
}
