html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  width: 100%;
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
}

.navbar {
  width: 100%;
  display: flex;
  background-color: #313151;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 30px;
  scroll-behavior: smooth;
  gap: 50px;
  height: 5rem;
  margin-bottom: left;
}

.App .navbar button {
  border: none;
  background-color: #313151;
  color: white;
  font-size: 30px;
  margin-left: 50px;
}

.App .navbar :hover {
  cursor: pointer;
  color: rgba(27, 197, 209, 0.493);
}

/* About */

.App .about {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1.5;
}

/*  */

.App .about:hover {
  margin-top: 150px;
  transform: scale(1.5);
  transition: 500ms linear;

  color: white;
}

.App .My-Name {
  font-size: 50px;
  color: white;
}

.App .about_me_text {
  font-size: 30px;
}

.about-left {
  max-width: 40%;
}

.about-right img {
  border-radius: 100%;
  width: 100%;
  max-width: 180px;
  margin: 0 2.5rem;
  height: auto;
}

.App .myImg {
  border-radius: 50%;
}

/*  skills*/

/* contact-me */
.App .contact-me {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;

  color: #5a5a5a;
  text-align: center;
  font-size: 30px;
  gap: 20px;
}

.contactMe {
  display: flex;
  gap: 50px;
}

.App .contact-me img {
  height: 100px;
  width: 100px;
}

.App .contact-me img:hover {
  cursor: pointer;
  transform: scale(1.6);
}

/* body */
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: hsl(220, 10%, 12%);
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
}

/* test   */

.wrapper2 {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: auto;

  display: grid;
  gap: 50px;
  justify-content: space-between;
}

.wrapper2-title {
  color: white;
}

.projects {
  display: flex;
  gap: 100px;
  margin-left: 200px;
  flex-wrap: wrap;
}

.cardz {
  flex-basis: 500px;
  height: 440px;

  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
}
.cardz img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.cardz:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.cardz:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.cardz:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.cardz h1 {
  color: #313151;
  letter-spacing: 1px;
  margin: 0px;
}
.cardz p {
  line-height: 24px;
  height: 70%;
}
.cardz button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.cardz button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}


/*  Contact   */ 






.infocardContainer * {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 300;
}
h2 {
  font-weight: 600; font-style: italic; font-family: "Fira Sans Condensed", sans-serif;
}
header {
  height: 2em;
  background-color: white;
  margin: 0 0 0 0;
  padding: auto;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
  color: white;
}
a {
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}
.infocardContainer {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  
   
  transition: all 500ms ease-in;
  transition-delay: 1s;
  margin: auto;
  margin-top: 100px;
  --margin-top: 100px;
}
.infocardContainer:hover {
  width: 500px;
  border-radius: 100px 10px 100px 100px;
  transition: all 1s ease-out;
}

.infocardContainer div {
  text-color: white;
  flex-shrink: 1;
  width: 100%;
 
}
.infocardContainer div * {
  display: flex;
  --flex: inherit;
  overflow: hidden;
  text-overflow: hidden;
  
  color: white;
  white-space: nowrap;
  width: 0;
  height: auto;
  transition: all 450ms ease-in;
  transition-delay: 1s;
}
.infocardContainer:hover div *{
  --background-color: purple;
  display: flex;
  visibility: visible;
  transition: all 1s ease-out;
  transition-delay: 500ms;
  width: 100%;
  height: auto;
}

.infocardContainer #main, .infocardContainer #main img{
  --background-color: red;
  height: 200px;
  width: 200px;
  padding-right: 10px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.infocardContainer #main img{
  height: 180px;
  width: 180px;
  transition: none;
  display: float;
  position: relative;
 
  margin: 0 0 0 0; padding: 0 0 0 0;
}
.infocardContainer #textbois {
  position: relative;
}
.infocardContainer #textbois #hotlinks {
  max-width: 60%;
  max-height: 30px;
  
  --background-color: white;
  position:absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 13px;
}
.infocardContainer #textbois #hotlinks * {
  background-color: white;
  max-width: 30px;
  --margin: 0 1px 0 1px;
  border-radius: 25px;
}
 