* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #dce4ec;
  color: #5a5a5a;
}
.navbar {
  display: flex;
  background-color: #885a3b8c;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 30px;
  scroll-behavior: smooth;
  gap: 50px;
  height: 5rem;
  margin-bottom: left;
}

.App .navbar button {
  border: none;
  background-color: #0e1e2e00;
  color: #5a5a5a;
  font-size: 30px;
  margin-left: 50px;
}

.App .navbar :hover {
  cursor: pointer;
  color: white;
}

.App .about {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.App .My-Name {
  font-size: 50px;
  color: #5a5a5a;
}

.App .about_me_text {
  font-size: 30px;
}

.about-left {
  max-width: 40%;
}

.about-right img {
  border-radius: 100%;
  width: 100%;
  max-width: 180px;
  margin: 0 2.5rem;
  height: auto;
}

.App .myImg {
  border-radius: 50%;
}

.App .skills {
  margin-top: 125px;
  align-content: center;
  align-items: center;
  background-color: #dce4ec;
  color: #5a5a5a;
  text-align: center;
  font-size: 30px;
  margin-left: 310px;
}

.App .tech-skills {
  display: flex;
  gap: 50px;
  align-content: center;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .tech-skills img {
  height: 50px;
  width: 50px;
}

/* my-experience */

.App .my-experience {
  margin-top: 150px;
  align-items: center;
  background-color: #dce4ec;
  color: #5a5a5a;
  text-align: center;
  font-size: 30px;
}

.App .projects {
  margin-bottom: 100px;
  display: flex;
  margin-top: 50px;
  align-items: center;
  background-color: #dce4ec;
  color: #5a5a5a;
  text-align: center;
  font-size: 30px;
  gap: 10px;
  text-align: start;

  line-height: 2.5;
  width: 100%;
}

.projects .cardImg {
  height: 30rem;
  width: 40rem;
}

/* contact-me */
.App .contact-me {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  background-color: #dce4ec;
  color: #5a5a5a;
  text-align: center;
  font-size: 30px;
  gap: 20px;
}

.App .contact-me img {
  height: 100px;
  width: 100px;
}
